<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <%include ../static/partials/navbar.ejs %>
        <main class="containers">
            <% include ../static/partials/messages.ejs %>
            <% if(currentUser) { %>
                <div class="albums-content">
                    <div class="form-container">
                        <form action="/music/search" method="post" class="searchform">
                                <input type="text" class="form-control" name="query" aria-describedby="queryHelp" placeholder="Search artist">
                                <button type="submit" class="btnsearch"><img src="/icon-search.svg" class="imgsearch"></button>
                        </form>
                    </div>
                    <% if(artist) { %>
                        <div class="form-container">
                            <h2><%= artist.name %></h2>
                            <a href="/music/addfavourite/<%= artist.id %>">
                                <% if(!followed) { %>
                                    <img src="/favourite_border.svg" alt="add favourite icon">
                                <% } else { %>
                                    <img src="/favourite.svg" alt="remove favourite icon">
                                <% } %>
                            </a>
                        </div>
                        <div class="all-albums">
                            <% albums.items.forEach((album) => { %>
                                <a href="/music/album/<%= album.id %>">
                                    <div class="album">
                                        <% if(album.images[0]) { %>
                                            <div class="artistimg-container">
                                                <img src="<%= album.images[0].url %>" class="artist-img" alt="picture of artist">
                                            </div>
                                        <% } else { %>
                                            <div>
                                                <div class="empty-image">
                                                    <p class="noimage">No Image Available</p>
                                                </div>
                                            </div>
                                        <% } %>
                                        <div>
                                            <h5><%= album.name %></h5>
                                            <p>Released: <%= album.release_date %></p>
                                        </div>
                                    </div>
                                </a>
                            <% }) %>
                        </div>
                    <% } %>
            <% } %>
        </main>
        <% include ../static/partials/footer.ejs %>
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>